name: Build and release dictionary for Fcitx5 and RIME

on:
  schedule:
    - cron: "30 23 19 * *"
  workflow_dispatch:

jobs:
  build_and_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Prepare Environment for Fetch
        run: pip install beautifulsoup4 requests

      - name: Fetch
        run: python DictSpider.py -v

      - name: Prepare Environment for Build
        run: |
          sudo apt install libime-bin

          wget https://github.com/studyzy/imewlconverter/releases/download/v3.3.1/imewlconverter_linux-x64.tar.gz
          tar -zxf imewlconverter_linux-x64.tar.gz
          sudo chmod +x publish/linux-x64/ImeWlConverterCmd

          echo "${GITHUB_WORKSPACE}/publish/linux-x64" >> "$GITHUB_PATH"

      - name: Build
        run: |
          make build_fcitx build_rime
          tar -zcf sougou_dict.tar.gz sougou_dict

      - name: Get date
        id: date
        run: echo "date=$(date +%Y%m%d)" >> "$GITHUB_OUTPUT"

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "sougou.dict,sougou.dict.yaml,sougou_dict.tar.gz"
          commit: ${{ github.sha }}
          tag: ${{ steps.date.outputs.date }}
          allowUpdates: true
